
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Set background color and default text color */
body {
    background-color: #f0f0f0; /* Light gray */
    color: #333; /* Dark gray text */

}

header {
    background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgb(0 0 0 / 0.1);
}


nav ul {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center the links */
}

nav {
    background-color: #36454f; /* Slightly darker than header */
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

nav a {
    display: block;
    color: white; /* White text */
    padding: 1rem;
    text-decoration: none; /* Remove underline */
    text-align: center;
}

nav a:hover {
    background-color: #666; /* Change background on hover */
    text-decoration: overline;
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3); /* Active link background */
}

.card {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px ;
    margin-bottom: 20px; /* Space between cards */
}

footer {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 10px;
    text-align: center;
}

main {
    display: block; /* Default layout for small screens */
    gap: 20px;
    max-width: 1200px; /* Limit width */
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
}

ul {
    list-style-type: none; /* Remove bullet points from lists */
}

